body {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 130%;
}
.skewtContainer > img:active {
    width: 600px;
  }
.skewtimg{
    border: 1px solid rgb(0, 0, 0);
    width:600px;
    border: 1px solid rgba(176, 59, 30, 0.3)
  }
.textContainer {
    width: 510px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid black;
    text-align: left;
    white-space: pre-line;
    font-size: 100%;
    overflow-y: auto;
  }
.point-container {
    display: grid;
    grid-template-columns: auto auto;
    margin: auto;
  }
.multi-container {
    display: inline-block;
    margin: auto;
  }
.dropbtn {
    background-color: rgb(46, 134, 24);
    color: white;
    padding: 10px;
    font-size: 100%;
    border: black;
  }
.locbtn {
    background-color: #53ba69;
    color: white;
    padding: 10px;
    font-size: 100%;
    border: none;
  }
.location {
  position: relative;
  display: inline-block;
  }
.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content {
    display: none;
    padding: 5px;
    font-size: 90%;
    position: absolute;
    background-color: #f1f1f1;
    border:none;
    transition: all 0.3s cubic-bezier(0,0.3,0.4);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    transform: translate(0);
    text-decoration: none;
    display: block;
  }

.dropdown-content a:hover {
  background-color: #ddd;
 transform: translateY(-2px);
 box-shadow: 0 4px 8px rgba(173, 59, 30, 0.2);
  }
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #ad3b1e;}

.locbtn:hover {background-color: #ad3b1e;}
